<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>

    <h1> this is home page </h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto incidunt nulla at deleniti, ea molestiae saepe dolorum earum asperiores, assumenda in eum quos maiores? Labore id ratione totam dolor necessitatibus!
    </p>

    <button> click me </button>
</head>

<body>

</body>

</html>